extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Cliquez sur une séance pour l'annuler")
                    p
                        form(method='post', action='/AnnulInscription')
                            each seance in listeDesSeances
                                input(type='radio',name='inscription',value=seance['codeseance'])
                                |#{seance['designation']} &nbsp #{seance['dateseance'].toLocaleDateString()}
                                br
                            input(type='submit')



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine