extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../stylesheets/signin.css', rel='stylesheet')
block body
    form.form-signin(method='POST' action='/loginSenior')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Se connecter en tant que senior
    form.form-signin(method='POST' action='/loginMedecin')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Se connecter en tant que medecin