extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../stylesheets/signin.css', rel='stylesheet')
    .container

        form.form-signin(method='POST' action='/loginSeniorV')
            h2.form-signin-heading Connectez-vous

                br

                br

                label.sr-only(for='inputEmail') Adresse Email

                input#inputEmail.form-control(type='email', placeholder='Email address', name='email', required='', autofocus='')

                label.sr-only(for='inputPassword') Mot de passe

                input#inputPassword.form-control(type='password', name='password' placeholder='Password', required='')

                .checkbox
                    label
                        input(type='checkbox', value='remember-me')
                        |  Se souvenir de moi
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Acceder