extends layoutMedecin

block append body

    br
    .container
        // Component Jumbotron
        .jumbotron
            p.lead
                | Voir les séniors »
            p
                a.btn.btn-lg.btn-success(href='/listeSeniors', role='button') Consulter



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine