extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../stylesheets/justified-nav.css', rel='stylesheet')
block body
    .container
        //  The justified navigation menu is meant for single line per list item.   Multiple lines will require custom code not provided by Bootstrap.
        .masthead
            h1.text-muted M2L - Maison des Ligues de Lorraine

            nav
                ul.nav.nav-justified
                    li.active
                        a(href='/index') Accueil
                    li
                        a(href='/activites') Les activités proposées
                    li
                        a(href='/MesSeances') Mes seances
                    li
                        a(href='/profile') Mon profil
                    li
                        a(href='/logout') Se déconnecter
