extends layoutMedecin

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Liste des séniors")
                    p
                        table.table-striped
                            tr
                                th Nom
                                th Adresse mail
                                th Supprimer un sénior
                            each senior in listeDesSeniors
                                tr
                                    td #{senior['nom']} &nbsp &nbsp  &nbsp
                                    td #{senior['email']} &nbsp &nbsp &nbsp
                                    td
                                        p.lead
                                            a.btn.btn-lg.btn-success(href='/listeSeniors', role='button') X



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
