extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Vos activités auquels vous êtes inscrit dans le programme de santé")
                    p
                        table.table-striped
                            each seances in listeDesSeances
                                li
                                    a(href='/MesSeances/'+seances.identifiant) #{seances['designation']} &nbsp #{seances['dateseance'].toLocaleDateString()}

                p
                    a.btn.btn-primary(href='/AnnulInscription') Annuler une inscription



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine